/* stylelint-disable selector-list-comma-newline-after */

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.blog-header-logo {
  font-family: 'Oswald',"Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
  font-size: 2.25rem;
}

.blog-header-logo:hover {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display", Georgia, "Times New Roman", serif/*rtl:Amiri, Georgia, "Times New Roman", serif*/;
}

li{
  margin-bottom:10px;
}

.blog-header-title{
  font-family: 'Roboto', sans-serif;
  font-weight: 600;
}
.display-4 {
  font-size: 2.5rem;
}
@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.flex-auto {
  flex: 0 0 auto;
}

.h-250 { height: 252px; }
@media (min-width: 768px) {
  .h-md-250 { height: 252px; }
}

/* Pagination */
.blog-pagination {
  margin-bottom: 4rem;
}

/*
 * Blog posts
 */
.blog-post {
  
  margin-bottom: 4rem;
}
.blog-post-title {
  font-size: 2.5rem;
}
.blog-post-meta {
  margin-bottom: 1.25rem;
  color: #727272;
}

/*
 * Footer
 */
.blog-footer {
  padding: 2.5rem 0;
  color: #727272;
  text-align: center;
  background-color: #f9f9f9;
  border-top: .05rem solid #e5e5e5;
}
.blog-footer p:last-child {
  margin-bottom: 0;
}


.demo-preview {
  padding-top: 60px;
  padding-bottom: 10px;
  margin: auto;
  text-align: center;
}
.demo-preview .bdg{
  margin-right:10px;
}
.bdg {
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  padding: 3px 6px;
  border: 1.5px solid transparent;
  min-width: 10px;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  border-radius: 99999px;
  font-family: 'Oswald', sans-serif;
}

.bdg.bdg-def {
  background-color: #B0BEC5
}

.bdg.bdg-info {
  margin-top:10px;
  background-color: #70ACC2
}

.outline {
  background-color: transparent;
  color: inherit;
  transition: all .25s;
}


.bdg.bdg-link {
  text-decoration: none !important;
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  font-weight: 800;
  padding: 6px 6px;
  color: #70ACC2;
  background-color: #ffffff;
  border-color: #70ACC2
}

.bdg.bdg-link.outline {
  color: #70ACC2;
}

.bdg.bdg-link.outline:hover {
  background: #d4e6ed !important;
}

.categ {
  color: #70ACC2;
  font-size: 14px;
  font-weight: 800;
}

.card-text{
  font-size: 14px;
}

.modal-header{
  background: #70ACC2 !important;
  color: #fff !important;
}