html{
     background: #d7cebb;
     font-family:monospace,sans-serif,Microsoft JhengHei;
     text-align:center;
}
body {

    padding-top: 70px;
    text-align: center;
}
.main { 
  
    background: #d7cebb;
    border: 2px solid;
    border-style: none;

}
title_line {
    border: 1px solid;
    padding: 30px 30px;
    border-style: none;
    font-size: 60px;
    color: #574031;
   
    border-radius: 10px
}
sub_title {
    border: 1px solid;
    padding: 30px 30px;
    border-style: none;
    font-size: 40px;
    color: #574031; 
 
}

p {   
    width: 560px;
    border: 2px solid;
    padding: 10px 5px;
    border-style: none;
    font-size: 18px;
    color: #574031;
    border-radius: 10px;
    text-align: left;
    width:600 px;

}
img{
    width: 560px;
}
td {
    width: 200px;
}
a{

    border: 2px solid;
    padding: 10px 5px;
    border-style: none;
    font-size: 18px;
    color: #574031;
    border-radius: 10px;
    text-align: left;

}